<article class='row' id="<%= dom_id comment %>">
  <div class='col'>
    <h6>
      <%= comment.name %> wrote <%= time_ago_in_words(comment.created_at) %> ago
    </h6>
    
    <%= comment.content %>
  </div>
</article>